/* 
    Document   : baseStyle.css
    Created on : 06/04/2012, 19:56:38
    Author     : guilherme.pereira
    Description: Purpose of the stylesheet follows.    
*/

root { 
    display: block;
}

body {
    margin:0px;
    padding:0px;
    background-color:silver;
    text-align:center;
}

.corpo {
    width: 1000px;
    margin: 0px;
    padding: 0px;
    margin: auto;
}

.header {
    background-color: white;
    width: 100%;
    height: 80px;

}

.menu {
    background-color: silver;
    float: left;
    width: 160px;
    height: 500px;
    padding: 0px;
}

.main {
    width: 840px;
    height: 500px;   
    margin: 0px;
    padding: 0px;
    float:right;
    text-align: left;
}
.footer {
    background-color: white;
    height: 54px;
}

.central{
    width: 1000px;
    height: 500px;
}

.centralizador {
    text-align: center;
    width: 1000px;
    height: 500px;
    background-color: #F0F7FA;
    padding-top: 100px;
}

/*Estilos referentes aos fomulários */
