/* 
    Document   : codeBarPrint
    Created on : 23/05/2013, 12:02:59
    Author     : guilherme.pereira
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    border-color: black;
    border-style: solid;
    border-width: 0px;
}

.codeContainer {
    border: 2px;
    border-color: black;
    padding: 0;
    border-color: black;
    border-style: solid;
    border-width: 0px;;
}

.conjunto {
    display:block;
    width: 51.59mm;
    height: 27mm;
    margin:0mm;    
    border-color: black;
    border-style: solid;
    border-width: 0px;
}

.sepSup {
    height: 0.8mm;
    width:100%;
    display:block;    
    border-color: black;
    border-style: solid;
    border-width: 0px;
    
}
.sepCen {
    height: 1.8mm;
    width:100%;
    display:block;   
    border-color: black;
    border-style: solid;
    border-width: 0px;
    clear:both;
    

}
.sepInf {
    height: 1mm;
    width:100%;
    display:block;   
    border-color: black;
    border-style: solid;
    border-width: 0px;
    clear:both;
    
    
}

.codeDiv {
    position: relative;
    float:left;
    border:0;    
    padding: 0;
    height: 6.5mm;
    width: 18mm;
    border-color: black;
    border-style: solid;
    border-width: 0px;
    margin-left:1.1mm;
    margin-top: 2.30mm;
}

.numDiv {
    font-weight: bold;
    font-size: x-small;
    font-family: monospace;    
    position: relative;   
    float:left;
    border:0;   
    padding: 0;
    height: 4mm;
    width: 18mm;
    border-color: black;
    border-style: solid;
    border-width: 0px;
    margin-left:12.99mm;
    margin-top: 2.25mm;
}

.labelDiv {   
    float:left;
    display:block;
    height:11.1mm;
    text-align: center;
    width: 51.49mm;  /*largura da etiqueta*/
    background-color: silver;
    font-family: monospace;
    font-size: smaller;
    margin-left: 0mm;
    border-color: black;
    border-style: solid;
    border-width: 0px;
    clear:both;

}

.narrow {
    display:inline;
    border:0;
    margin:0;
    border-style:none;
    padding:0;
    width:1px;
    height:6.5mm;
    float:left;
}

.wide {
    display:inline;
    border:0;
    margin:0;
    border-style:none;
    padding:0;
    width:3px;
    height:6.5mm;
    float:left;
}




